#main{
    padding-left: 20px;
}

h1{
    font-family: Impact, Charcoal, sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

h2{
    font-family: Impact, Charcoal, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

button{
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #589D47;
    color: white;
    font-family: "Courier New", Courier, monospace;
    border-style: solid;
    cursor: pointer;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    height: 40px;
    padding-bottom: 20px;
    padding-top:10px;
}

#openJobs{
    padding-bottom: 20px;
}
