#banner{
    background-color: #081B2A;
    font-size: 10px;
    text-align: left;
    color: whitesmoke;
    padding: .1px 10px .1px 10px;
    margin-bottom: 10px;
}

a:link, a:visited{
    text-decoration: none;
    color:black;
    font-size: 12px;
}

#navigation{
    background-color: #eef1f2;
}

.container{
    display:grid;
    grid-template-columns: repeat(6,250px);
    grid-auto-rows: repeat(8,300px);
    grid-column-gap: 10px;
    margin: auto;
    width:70%;
}

#main{
    grid-column: 2/6;
    grid-row: 2/8;
    margin: 0px;
}

#banner{
    grid-column: 1/6;
    grid-row: 1/2;
    margin-bottom: 0px;
}

#navigation{
    grid-column: 1/2;
    grid-row: 2/8;
    padding-bottom: 450px;
    padding-top: 30px;
    padding-left: 20px;
    display:flex;
    flex-direction: row;
}

#box1, #box2{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 5px;
}

iframe{ 
    outline: none;
    width: 300px;
    height: 400px;
}

iframe[seamless] { 
    display: block;
}

img{
    height: 30px;
    width: 30px;
}
