
label, input[placeholder]{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

label{
    font-weight: bold;
    color: white;
}

input{
    border-radius: 3px;
    padding: 5px 60px 5px 5px;
    text-align: left;
    border-width: 1.5px;
    margin-bottom: 15px;
    margin-top: 8px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    
}

#login{
    border-radius: 5px;
    padding: 10px 80px;
    background-color: #20B2AA;
    color: white;
    font-family: "Courier New", Courier, monospace;
    border-style: none;
    cursor: pointer;
}

h1, h3{
    text-align: center;
    text-shadow: black;
    font-family: Impact, Charcoal, sans-serif;
    margin-top: 0px;
}

h1{
     font-size: 90px;
     padding-top: 60px;
     color: white;
     margin-bottom: 0px;
}

h3{
    font-size: 25px;
     padding-top: 0px;
}

#main{
    display:grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-auto-rows: repeat(5,40%);
    grid-column-gap: 0px;
    margin: 0;
    padding: 0;

}

#banner{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #FF4444;
}

#loginArea{
    grid-column: 2;
    grid-row: 2/6;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    height: 400px;
    max-width: 500px;
    max-height: 400px;
    margin: 20px 20px 60px 60px;
}